@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


/* 
   HEADER / NAVBAR
*/

.header {
  width: 100%;
  background: #ffffff;
}

.navbar {
  width: 100%;
  height: 72px;

  display: flex;
  align-items: center;

  padding: 0 24px;
}


/* Logo */

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 70px;
  height: auto;
  display: block;
}

.logo-text {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #486C2F;
}

/* Navigation */

.nav {
  display: flex;
  align-items: center;

  gap: 48px;
  margin-left: 60px;
}

.nav a {
  color: #8B2626;

  font-size: 14px;
  font-weight: 500;

  text-decoration: none;
}

.nav a:hover {
  color: #486C2F;
}


/* Login */

.login-btn {
  margin-left: auto;

  background: #8B2626;
  color: #ffffff;

  padding: 9px 25px;

  border-radius: 25px;

  font-size: 13px;
  font-weight: 600;

  text-decoration: none;
}

.login-btn:hover {
  background: #486C2F;
}


/* 
   HERO
 */

.hero {
  position: relative;

  width: 100%;
  height: 190px;

  overflow: hidden;
}


/* Hero image */

.hero-image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center 55%;

  display: block;
}


/* Dark overlay */

.hero-overlay {
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.4);
}


/* Hero text */

.hero-content {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.hero-content h1 {
  margin: 0;

  color: #ffffff;

  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

<<<<<<< HEAD
/* SÖKFUNKTION// ALICE */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fffdf0;
    font-family: 'Poppins', sans-serif;
    color: #962727;
}

.container {
    width: 640px;
    margin: 32px auto;
}


/* SÖK */

.search-section h2 {
    margin: 0 0 6px 23px;
    font-size: 24px;
}

.search-box {
    width: 100%;
    height: 66px;

    background-color: white;
    border: 2px solid #9e2929;
    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 25px;

    color: #666;
    font-size: 14px;
}

.search-icon {
    color: #9e2929;
    font-size: 30px;
}


/* FILTER */

.filter-section {
    width: 560px;
    margin: 60px auto 0;
}

.filter-section > h2 {
    text-align: center;
    font-size: 23px;
    margin-bottom: 33px;
}

.filters {
    display: flex;
    justify-content: space-between;
}

.filter h3 {
    font-size: 18px;
    margin: 0 0 5px 18px;
}

.pill {
    width: 151px;
    height: 43px;

    background-color: white;
    border: 2px solid #9e2929;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 16px;

    color: #666;
    font-size: 14px;
}


/* PIL NER */

.arrow {
    width: 12px;
    height: 12px;

    border-right: 2px solid #9e2929;
    border-bottom: 2px solid #9e2929;

    transform: rotate(45deg);
    margin-top: -6px;
}


/* LINJEN LÄNGST NER */

.line {
    height: 1px;
    background-color: #ddc2b8;

    margin: 39px 26px 0;
}



 /* FAVORITER // FRIDA */


/* typsnitt */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* transparenta bakgrunden */
.favorites-section {
    background-color: rgba(241, 229, 161, 0.2); /* Färgkoden #F1E5A1 med 20% synlighet */
    padding: 40px 20px;
    text-align: center; /* Centrerar rubrik och knapp */
}

.favorites-section h2 {
    color: #8B2626;
    font-weight: 800;
    margin-bottom: 30px;
}

/* Flexbox för att lägga korten i en rad */
.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Gör att korten radbryts på mindre skärmar */
}

/*  Boxmodellen för hundkorten */
.card {
    background-color: #ffffff;
    border: 1px solid #8B2626; /* Den vinröda ramen */
    border-radius: 12px;
    width: 251px; /* Exakt samma som bildens bredd */
    overflow: hidden; /* Rundar av bildens hörn i överkanten */
}

.card img {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #8B2626; /* Linjen mellan bild och text */
}

/*  Nedre delen av kortet (Namn och hjärta) */
.card-info {
    display: flex;
    justify-content: center; /* Centrerar hundens namn under bilden */
    align-items: center;
    padding: 15px 15px 35px 15px;
    position: relative; /* hjärtat ska kunna placeras fritt */
}

.dog-name {
    margin: 0;
    color: #8B2626;
    font-weight: 600;
    font-size: 16px;
}

.heart-icon {
    position: absolute;
    right: 5px;
    bottom: 2px;   /* Trycker ner hjärtat mot bottenkanten */
    width: 22px;   /* Sätter storleken på ikonen */
    height: 22px;
    fill: #8B2626; /* På SVG-ikoner använder man "fill" i stället för "color" */
    cursor: pointer;
}

/*  Visa mer - knapp */
.show-more-btn {
    font-family: 'Instrument Sans', sans-serif; /* Unikt typsnitt för knappen */
    background-color: transparent;
    color: #8B2626;
    border: 1px solid #8B2626;
    border-radius: 25px;
    padding: 10px 30px;
    margin-top: 40px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

/* När musen är ovanför knappen */
.show-more-btn:hover {
    color: #486C2F;       /* Ändrar textfärgen */
    border-color:#486C2F; /* Ändrar ramens färg */
}